<h1>{{org.name}}</h1>

<p><strong>Slug:</strong> {{org.slug}}</p>
<p><strong>Description:</strong> {{org.description}}</p>

<a href="/admin/orgs/{{org.slug}}/edit">Edit Organization</a>

<hr>

<h2>Members</h2>
<table border="1" cellpadding="8">
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Role</th>
  </tr>

  {{#each members}}
    <tr>
      <td>{{this.user.fullName}}</td>
      <td>{{this.user.email}}</td>
      <td>{{this.role}}</td>
    </tr>
  {{/each}}
</table>
